<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>

<body id="bootstrap-override">
	<div id="scrollable" class="container-fluid main-landing">

		<div class="wrapper">
			<div class="row topbar">
				<div class="topbar__logo col-6 pl-md-5">
					<h1 class="poke-decor">PoK&#233;MoN</h1>
					<h5 class="pt-4 ml-3 logo-bottom">CHEAT SHEET</h5>
				</div>
				<div class="topbar__social col-6  text-right pr-5">
					<ul class="">
						<li><i class="fa fa-2x fa-facebook"></i></li>
						<li><i class="fa fa-2x fa-twitter"></i></li>
						<li><i class="fa fa-2x fa-envelope"></i></li>
					</ul>
				</div>
			</div>

			<div class="row pika-message">
				<div class="col-sm-12 col-md-8 pika-message__text">
					<span class="element text-center"></span>
				</div>
				<div class="col-sm-12 col-md-4 pikachu text-right hidden-sm-down">
					<img src="assets/img/pikachu.png" alt="">
				</div>
			</div>
		</div>


		<div class="row scroll_down bouncing">
			<a class="arrow arrow__down" href="#" v-scroll-to="{ el: '#app-cards' }"></a>
		</div>

	</div>

	<div id="app" class="container">
		<div class="row">
			<div class="col-12 mt-5 text-center">
				<h1>POKEMON LIST</h1>
				<div class="mt-5 mb-2 buttons">
					<button type="button" @click="this.app.pokeids.pop()" class="btn btn-lg btn-outline-info mx-3">
						<i class="fa fa-spin fa-minus mr-3"></i>POP()
					</button>

					<button type="button" @click="this.app.pokeids.push(Math.floor(Math.random() * 150)+1)"class="btn btn-lg btn-outline-info mx-3">
						<i class="fa fa-spin fa-plus mr-3"></i>PUSH()
					</button>
				</div>
			</div>
			<div class="col-12 my-5">

				<div id="app-cards">
					<div class="row" style="display:flex;">
						<pokemon v-for="pokeid in pokeids" :pokeid="pokeid"></pokemon>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container-fluid footer-container">
		<div class="footer">

			<div class="footer-text">
				<div class="bitbucket-icon mb-3 pl-3"><a href="https://bitbucket.org/misiek_is_coding/" class="text-center"><i class="fa fa-bitbucket fa-3x"></i></a></div>
				<p>Crafted with <i class="fa fa-heart red"></i> in Poland</p>
			</div>
		</div>
	</div>


	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-scrollto"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="scripts/main.js"></script>
	<script src="https://use.fontawesome.com/ee63a48e70.js"></script>
	<script src="scripts/vendor/typed.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			Typed.new('.element', {
				strings: ["Gotta catch 'em all! Right?", "Scroll down to explore!"],
				typeSpeed: 80
			});
		});
	</script>

</body>

</html>
