
.arrow {
    width:20px;
    height:20px;
    border-top:5px solid $color-main-darker;
    border-right:5px solid $color-main-darker;


    &:hover {
      border-top:5px solid darken($color-accent-yellow, 20%);
      border-right:5px solid  darken($color-accent-yellow, 20%);
    }


    &__right {
      @include transform(rotate(45deg));
    }

    &__down {
      @include transform(rotate(135deg));
    }

    &__left {
      @include transform(rotate(225deg));
    }
    &__up {
      @include transform(rotate(315deg));
    }

}


@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.bouncing {

  @include animation(bounce 2s infinite);

  &:hover {
    animation: none;
  }
}
