.card {
  margin: 0 auto;
  margin-bottom: 2em;
}

.poke-img-circle {
  position: relative;
  z-index: 99;

  flex-direction: column;

  width: 100px;
  height: 100px;
  margin: 0 auto;

  text-align: center;

  background: $color-main-light;

  align-self: center;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.card-stats {
  color: lighten($color-main-dark, 25%);

  font-size: 0.85em;

  ul {
    margin: 1em 0;
    padding: 0;

    text-align: center;

    li {
      display: inline;

      padding: 0 0.5em;

      list-style: none;
      list-style-type: none;

      span {
        margin-left: 0.5em;
      }
    }
  }
}

.card-subtitle {
  margin-top: 1em !important;

  color: lighten($color-main-dark, 25%);

  font-weight: 300;
}

.card-title {
  padding: 0.2em;

  color: $color-accent-blue;
}

.card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: 0.5s ease;

  opacity: 0;
  background-color: transparentize($color-accent-blue, 0.25);

  &__text {
    position: absolute;
    top: 55%;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    color: $color-main-light;

    font-size: 1.2em;
    font-weight: 500;

    &:hover {
      text-decoration: none;

      color: $color-main-light;

      font-weight: bold;
    }
  }
}
@include keyframes(spin) {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.card:hover {
  transition: 0.5s ease;

  border: solid 1px lighten($color-accent-blue,30%);
  .poke-img {
    @include animation( 'spin 1s 1');
  }

  .card-overlay {
    opacity: 1;
  }
}
@each $type, $color in $type-colors {
  .card-#{$type} {
    .card-top {
      @include gradient-directional($color, darken($color, 20%), 135deg);
    }
  }
}

.card-top {
  display: flex;

  height: 15em;

  background: rgba(212,228,239,1);
}
