.footer-container {
  margin: 0 !important;
  padding: 0 !important;
}


.footer {
  width: 100vw;
  height: 35vh;

  display: flex;

  background-color: $color-main-darker;
  color: $color-main-light;

  -webkit-clip-path: polygon(0 35%, 100% 13%, 100% 100%, 0% 100%);
          clip-path: polygon(0 35%, 100% 13%, 100% 100%, 0% 100%);
}

.footer-text {
  padding-bottom: 1em;

  text-align: center;

  color:$color-main-light;
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
  a {
    color: $color-main-light;
  }
}

.red {
  color: red;
}
