body#bootstrap-override {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: $color-main-light;
  color: $color-main-darker;

  ::selection {
    background: $color-main-darker;
    color: $color-accent-yellow;
  }

  ::-moz-selection {
    background: $color-main-darker;
    color: $color-accent-yellow;
  }
}
