@font-face {
  font-family: 'pokemon_solid';
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/poke_solid.woff2) format('woff2'),
       url(../assets/fonts/poke_solid.woff) format('woff'),
       url(../assets/fonts/poke_solid.ttf) format('truetype');
}


.poke-decor {
  font-family: 'pokemon_solid', sans-serif;
  font-size: 4em;
  @media screen and (max-width: $breakpoint-sm) {
    font-size: 3em;
  }
}

.logo-bottom {
  letter-spacing: 0.56em;
}

.typed-cursor{
    opacity: 1;
    font-size: 4em;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
    @media screen and (max-width: $breakpoint-sm) {
      font-size: 3em;
    }
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.element {
  display: inline;
  font-size: 4em;
  font-weight: bold;
  color: $color-main-darker;
  @media screen and (max-width: $breakpoint-sm) {
    font-size: 3em;
  }
}


h1::after {
    height: 20px;
    color: black;
 }
