///COLORS///

$color-accent-yellow: #eeba0b;
$color-accent-blue: #29335c;
$color-main-light: #f2f2f2;
$color-main-dark: #5f6062;
$color-main-darker: #0d1f2d;

///BREAKPOINTS///

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


///TYPE COLORS///

$normal:     #A8A878;
$fire:       #F08030;
$fighting:   #C03028;
$water:      #6890F0;
$flying:     #A890F0;
$grass:      #78C850;
$poison:     #A040DB;
$electric:   #F8D030;
$ground:     #E0C068;
$psychic:    #F85888;
$rock:       #B8A038;
$ice:        #98D8D8;
$bug:        #A8B820;
$dragon:     #7038F8;
$ghost:      #705898;
$dark:       #705848;
$steel:      #B8B8D0;
$fairy:      #EE99AC;

$type-colors: (normal, $normal),
              (fire, $fire),
              (fighting, $fighting),
              (water, $water),
              (flying, $flying),
              (grass, $grass),
              (poison, $poison),
              (electric, $electric),
              (ground, $ground),
              (psychic, $psychic),
              (rock, $rock),
              (ice, $ice),
              (bug, $bug),
              (dragon, $dragon),
              (ghost, $ghost),
              (dark, $dark),
              (steel, $steel),
              (fairy, $fairy);
